<h2>Add a Restaurant</h2>
<%= simple_form_for @restaurant do |t|%>
  <%= t.input :name %>
  <%= t.input :address %>
  <%= t.input :phone_number %>
  <%= t.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
  <%= t.submit %>
<% end %>
